[init]
  defaultBranch = main
[push]
  default = current
[user]
  name = Vladyslav Dukhin
  email = 15850680+primeare@users.noreply.github.com
[core]
  # editor = nano -w
  editor = code --wait
[color]
  ui = auto
[instaweb]
  local = true
  port = 4321
[alias]
  s = status
  c = commit
  ca = commit --amend
  l = log --oneline --graph --decorate
  # outputs log that relates to a specified file
  # ex. (git file-log .gitconfig)
  file-log = log --follow --graph --decorate -p --
