# See `git help config` for more information

[init]
	defaultBranch = main
[push]
	default = current
	followTags = true
[fetch]
	prune = true
	writeCommitGraph = true
[pull]
	rebase = true
[rebase]
	updateRefs = true
[branch]
  autosetupmerge = always
  autosetuprebase = always
	sort = -committerdate
[diff]
	tool = vscode
	renames = copies
[difftool "vscode"]
	cmd = code --wait --diff "$REMOTE" "$LOCAL"
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait --merge "$REMOTE" "$LOCAL" "$BASE" "$MERGED"
	trustExitCode = true
[user]
	name = Vladyslav Dukhin
	email = 15850680+primeare@users.noreply.github.com
[credential]
	helper = osxkeychain
[core]
	editor = code --wait
	pager = less --quit-if-one-screen
	untrackedcache = true
	fsmonitor = true
	# whitespace = trailing-space,space-before-tab,-indent-with-non-tab,tab-in-indent,cr-at-eol
[color]
	ui = auto
[column]
	ui = auto
[commit]
	cleanup = strip
	template = ~/.gitmessage
[rerere]
	# Reuse Recorded Resolution
	enabled = true
	autoUpdate = true
[instaweb]
	local = true
	port = 4321
[alias]
	# ex. (git s)
	s = status --show-stash --ahead-behind --renames
	# ex. (git c)
	c = commit --signoff
	# ex. (git ca)
	ca = commit --signoff --amend
	# ex. (git co main, git co -b feature, git co -)
	co = checkout
	# ex. (git b)
	b = branch --all
	# pull without rebase
	pu = pull --no-rebase --ff --signoff
	# pushes changes to the remote branch of the same name
	# ex. (git p)
	p = push origin HEAD # use --signed flag
	fp = push --force-with-lease origin HEAD
	# outputs the log graph of git history with statistics
	# ex. (git l)
	l = log --oneline --graph --decorate --stat --show-signature
	# stash the changes in a dirty working directory away, include untracked
	# ex. (git st "some awesome code")
	st = stash push --include-untracked --message
	# ex. (git stl)
	stl = stash list
	# outputs log that relates to a specified file
	# ex. (git file-log .gitconfig)
	file-log = log --follow --graph --decorate --patch --
	# outputs a condensed summary of the working directory against the branch
	# ex. (git summary, git summary main)
	summary = diff --word-diff --compact-summary
	# git maintenance start
