; the location of user-level configuration settings
userconfig=~/.npmrc

; the location to install global items
prefix=${HOME}/.npm-packages

; default logging level
loglevel=error

; package initialisation default parameters
init-author-email=development@vladyslav.dev
init-author-name=Vladyslav Dukhin
init-author-url=https://vladyslav.dev/
init-license=MIT
init-version=0.0.1

; refuse to install any package that claims to not be compatible with the current Node.js version
engine-strict=true
